{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">
    <h2 class="mb-4 text-dark">Add a new topic</h2>

    <div class="card">
        <div class="card-body">
            <form action="{% url 'learning_logs:new_topic' %}" method='post'>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button "Add topic" button_type="submit" button_class="btn-primary" %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}